<div class="jumbotron">
  <h1>Game Result<h1>
</div>

<!-- #if($whoWon) -->
<!-- <div id="appendResults">
    $winner
</div>
#else
<div id="appendResults">
    $results2
</div>
#end

$user -->

<div id="appendResults">

$winner

</div>
<form action="/" method="get">
  <button type="submit" class="btn" >Play Again</button>
</form>
